/node_modules
.env
/dist
/.cache
/.next
/.nuxt
/.vscode
/.idea
.DS_Store
*.log
*.tmp
*.bak
*.swp
*.orig
*.sublime-workspace
*.sublime-project
*.code-workspace
coverage
*.tgz
*.zip
*.tar.gz
*.rar
*.7z
*.gz
*.tar
*.log
*.pid
*.seed
*.pid.lock
*.lock
*.swp
*.swo